body {
    margin: 0;
    
    /* zmiana sposobu pozycjonowania elementów */
    display: flex;
    /* flex w układzie kolumnowym */
    flex-direction: column;
    /* wyrównanie do środka w tzw. cross-axis (więcej na konw.) */
    align-items: center;
    background-image: url(123.jpg);
}
#a1
{
    background-color: rgb(247, 142, 6);
    margin-left: 500px;
    margin-right: 500px;
    
   width: 1000px;
   height: 60px;
}
#columns {
    
    
    width: 250px;
    height: 5px;
    
     justify-content: space-between;
    height: 30px;
    margin-top: 30px;
}
#column-center {
    width: 250px;
    text-align: center;
    font-size: 30px;
    background-color: rgba(252, 245, 245, 0.582);
     margin-bottom: 750px;
} 
#column-left {
    
    text-align: left;
    width: 40px;
    height: 40px;
    
} 
#a2
{
    background-color: rgb(247, 142, 6);

  width: 1000px;
  height: 250px;
}
#main {
    width: 1000px;
    height: 1250px;
    font-size: 30px;
    /* stary sposób środkowania elementów - dalej używany na stronach */
    /* margin: 0 auto; */
}
#b1
{
    text-align: center;
    margin-top: 30px;
    background-color: rgba(124, 127, 129, 0.63);
   
  width: 1000px;
  height: 1250px;
  
}
 


 
/* #column-left a {
    /* kapitalizacja liter*/
    /* text-transform: uppercase;
    /* podkreślenie off */
    /* text-decoration: none;
    font-size: 20px;
/* } */  */ */